<footer class="footer-section text-center">
    <div class="container">
        <h2 class="section-title mb-5">Let’s work together</h2>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/antonin-lefevre-0110/" target="_blank"><span class="fa fa-linkedin"></span></a>
            <a href="https://github.com/antonin-lfv" target="_blank"><span class="fa fa-github"></span></a>
        </div>
        <div class="copyright">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Antonin
        </div>
    </div>
</footer>