<header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-3">
                <div class="logo">
                    <h2 class="site-logo">Antonin</h2>
                </div>
            </div>
            <div class="col-lg-8 col-md-9">
                <nav class="main-menu">
                    <ul>
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="nav-switch">
        <i class="fa fa-bars"></i>
    </div>
</header>