<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	
	{% include "includes/navbar.html" %}

    {% include "includes/intro.html" %}


	<!-- page section start -->
	<section class="page-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<p>Passionate about astronomy and photography, you will find here many pictures that I found interesting to publish.</p>
					<div class="row mt-5">
						<div class="col-md-4">
							<div class="milestone">
								<h2>{{ nb_photos }}<span>Photos</span></h2>
							</div>
						</div>
					</div>
					<figure class="mt-5">
						<img src="{{ url_for('static', filename='img/sign.png') }}" alt="">
					</figure>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<figure class="pic-frame">
						<img src="{{ url_for('static', filename='img/person.png') }}" alt="">
					</figure>
				</div>
			</div>
		</div>
	</section>
	<!-- page section end -->

    {% include 'includes/footer.html' %}
    {% include 'includes/js_files.html' %}
</body>
</html>