<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	
    {% include "includes/navbar.html" %}

    {% include "includes/intro.html" %}


	<!-- page section start -->
	<section class="page-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 contect-tect">
					<h2>So, let’s talk</h2>
					<p>You can email me at antoninlefevre45@icloud.com</p>
				</div>
			</div>
		</div>
	</section>
	<!-- page section end -->

    {% include 'includes/footer.html' %}
    {% include 'includes/js_files.html' %}
</body>
</html>