<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

    {% include "includes/navbar.html" %}

    {% include "includes/intro.html" %}


	<!-- img section start -->
	<section class="portfolio-section">
		<div class="container">
			<ul class="portfolio-filter">
                <li><a href="{{ url_for('home', category="all") }}" style="color:#979797;">All</a></li>
				<li><a href="{{ url_for('home', category="moon") }}" style="color:#979797;">Moon</a></li>
				<li><a href="{{ url_for('home', category="landscape") }}" style="color:#979797;">Landscape</a></li>
                <li><a href="{{ url_for('home', category="other") }}" style="color:#979797;">Other</a></li>
			</ul>
		</div>
		<div class="container-fluid p-md-0 ">
			<div class="row portfolios-area">
                {% for looop in range(ceil(len(fileNames)/8)) %}
                    {% if looop*8 <= len(fileNames) %}
                        <div class="mix col-lg-6 col-md-6 web">
                            <a class="portfolio-item set-bg" data-setbg="{{ url_for('static', filename=fileNames[looop*8]) }}">
                                <div class="pi-inner">
                                    <h2>{{ extract_image_title_from_path('static/'+fileNames[looop*8]) }}</h2>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                    {% if looop*8 + 1<= len(fileNames) %}
                    <div class="mix col-lg-6 col-md-6 digital">
                        <a class="portfolio-item set-bg " data-setbg="{{ url_for('static', filename=fileNames[looop*8 + 1]) }}">
                            <div class="pi-inner">
                                <h2>{{ extract_image_title_from_path('static/'+fileNames[looop*8 + 1]) }}</h2>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% if looop*8 + 2<= len(fileNames) %}
                    <div class="mix col-lg-4 col-md-6 web">
                        <a class="portfolio-item set-bg" data-setbg="{{ url_for('static', filename=fileNames[looop*8 + 2]) }}">
                            <div class="pi-inner">
                                <h2>{{ extract_image_title_from_path('static/'+fileNames[looop*8 + 2]) }}</h2>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% if looop*8 + 3<= len(fileNames) %}
                    <div class="mix col-lg-4 col-md-6 digital">
                        <a class="portfolio-item set-bg" data-setbg="{{ url_for('static', filename=fileNames[looop*8 + 3]) }}">
                            <div class="pi-inner">
                                <h2>{{ extract_image_title_from_path('static/'+fileNames[looop*8 + 3]) }}</h2>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% if looop*8 + 4<= len(fileNames) %}
                    <div class="mix col-lg-4 col-md-6 rened">
                        <a class="portfolio-item set-bg" data-setbg="{{ url_for('static', filename=fileNames[looop*8 + 4]) }}">
                            <div class="pi-inner">
                                <h2>{{ extract_image_title_from_path('static/'+fileNames[looop*8 + 4]) }}</h2>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% if looop*8 + 5<= len(fileNames) %}
                    <div class="mix col-lg-12 col-md-6 brand">
                        <a class="portfolio-item set-bg" data-setbg="{{ url_for('static', filename=fileNames[looop*8 + 5]) }}">
                            <div class="pi-inner">
                                <h2>{{ extract_image_title_from_path('static/'+fileNames[looop*8 + 5]) }}</h2>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% if looop*8 + 6<= len(fileNames) %}
                    <div class="mix col-lg-6 col-md-6 rened">
                        <a class="portfolio-item set-bg" data-setbg="{{ url_for('static', filename=fileNames[looop*8 + 6]) }}">
                            <div class="pi-inner">
                                <h2>{{ extract_image_title_from_path('static/'+fileNames[looop*8 + 6]) }}</h2>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% if looop*8 + 7<= len(fileNames) %}
                    <div class="mix col-lg-6 col-md-6 brand">
                        <a class="portfolio-item set-bg" data-setbg="{{ url_for('static', filename=fileNames[looop*8 + 7]) }}">
                            <div class="pi-inner">
                                <h2>{{ extract_image_title_from_path('static/'+fileNames[looop*8 + 7]) }}</h2>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
			</div>
		</div>
	</section>
	<!-- img section end -->

    {% include 'includes/footer.html' %}
    {% include 'includes/js_files.html' %}

</body>
</html>